extends layout

block content
    h1= title
    p Welcome to #{title}
    div.container
        div.row
            div.col-lg-1
            div.col-lg-9
                div.input-group
                    input.form-control
                    span.input-group-btn
                        button.btn.btn-success 发表
            div.col-lg-2
        br
        br
        div.row
            div.col-lg-1
                div
            div.col-lg-9
                p 因为改名字动辄修改包括代码内部、文件目录名、文档和网站中包含的名称，以及重新设计Logo，所以社区还在折腾中。代码上的变更，可能会存在一点点的风险，不过在项目测试足够的情况下，用户应该基本可以放心。官方已经建议大家使用新的包名pug来安装，对普通用户来说改名也会带来一些小麻烦a因为改名字动辄修改包括代码内部、文件目录名、文档和网站中包含的名称，以及重新设计Logo，所以社区还在折腾中。代码上的变更，可能会存在一点点的风险，不过在项目测试足够的情况下，用户应该基本可以放心。官方已经建议大家使用新的包名pug来安装，对普通用户来说改名也会带来一些小麻烦
                p 因为改名字动辄修改包括代码内部、文件目录名、文档和网站中包含的名称，以及重新设计Logo，所以社区还在折腾中。代码上的变更，可能会存在一点点的风险，不过在项目测试足够的情况下，用户应该基本可以放心。官方已经建议大家使用新的包名pug来安装，对普通用户来说改名也会带来一些小麻烦
                p 因为改名字动辄修改包括代码内部、文件目录名、文档和网站中包含的名称，以及重新设计Logo，所以社区还在折腾中。代码上的变更，可能会存在一点点的风险，不过在项目测试足够的情况下，用户应该基本可以放心。官方已经建议大家使用新的包名pug来安装，对普通用户来说改名也会带来一些小麻烦
            div.col-lg-2
                div
