doctype html
html
    head
        title 首页
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //script(src='/javascripts/jquery.js')
        //script(src='/javascripts/bootstrap.js')
    body
        nav.navbar.navbar-fixed-top.navbar-inverse
            div.container
                a.navbar-brand 日记
                ul.nav.navbar-nav
                    li.active
                        a(href='/') 首页
                    - if(!user)
                        li
                            a(href='/login') 登录
                        li
                            a(href='/reg') 注册
                    - else
                        li
                            a(href='/logout') 退出
        div#container.container
            - if (success)
                div.alert.alert-success
                    p=success
            - if (error)
                div.alert.alert-error
                    p=error
            block content