extends layout

block content
    div.container
        div.row
            form.form-horizontal
                br
                div.form-group
                    lable.col-lg-2.control-label 用户名
                    div.col-lg-3
                        input.form-control
                div.form-group
                    label.col-lg-2.control-label 密码
                    div.col-lg-3
                        input.form-control
                div.form-group
                    label.col-lg-2.control-label 再次输入密码
                    div.col-lg-3
                        input.form-control
                div.form-group
                    div.col-lg-2
                    div.col-lg-3
                        button.btn.btn-default 注册